html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    margin:10px;
    padding: 0px;
    box-sizing: border-box;
    
}

.taskbar{
    display: flex;
}
.logo{
    width: 75px;
    height: 100px;
    margin: 10px;

.justify-between{
    justify-content: space-between;
}
}

.hover{
    
}
.title{
    background-color: black;
    color: rgb(0, 255, 0);
    font-size: 32px;
    font-family: "Times New Roman", sans-serif;
    padding: 30px;
    width: 250px;
    height: 100px;
    margin: 10px;
    
}

body{
    font-family: "Garamond", sans-serif;
}

.title.recipe{
    color: yellow;
    width: 340px;
}

.section{
    background-color: grey;
}

.description{
    
}

.ingrediants{

}

.steps{
    
}